.entry-node #title{
    background-color: #119011;
}

.exit-node #title{
    background-color: #901111;
}

DialogueNode #title{
    background-color: #111190;
}

DialogueNode{
    background-color: #282828;
}